.volna-hero {
	padding: 0;
	margin-top: calc(-1 * var(--offset));
	position: relative;
	--offset: 0px;
	&:first-child {
		--offset: 32px;
		@media @md {
			--offset: 24px;
		}
	}
	& + .volna-about {
		@media @md_ {
			.volna-about-advantages {
				margin-top: calc(-1 * var(--padding) - 74px);
				position: relative;
				z-index: 6;
			}
		}
	}
}

.volna-hero-slider {
	margin: 0;
}

.volna-hero-slide {
	position: relative;
	padding-top: calc(var(--offset) + var(--padding));
	padding-bottom: 190px;
	position: relative;
	min-height: 564px;
	background-color: @title;
	color: @white;
	@media @md {
		padding-bottom: 120px;
		min-height: 0;
	}
	.volna-container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
	}
	.volna-section-title {
		.volna-h1;
		color: inherit;
		max-width: 600px;
		text-align: left;
	}
}

.volna-hero-slide-img {
	position: absolute;
	inset: 0;
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
		z-index: 1;
	}
}

.volna-hero-slide-desc {
	padding: 10px;
	border-radius: 100px;
	backdrop-filter: blur(4px);
	background-color: fade(@white, 12%);
	max-width: 600px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
}

.volna-hero-slide-btns {
	display: flex;
	gap: 12px 20px;
	flex-wrap: wrap;
	.volna-btn {
		@media @xs {
			width: 100%;
		}
	}
}

.volna-hero-slider-nav {
	position: absolute;
	inset: auto 0 118px;
	pointer-events: none;
	z-index: 6;
	@media @md {
		bottom: 32px;
	}
}

.volna-hero-slider-pagination {
	display: flex;
	gap: 10px;
	span {
		width: 40px;
		height: 28px;
		text-align: center;
		cursor: pointer;
		color: @border;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 700;
		border-radius: 0;
		background: none;
		opacity: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: color 0.4s;
		pointer-events: auto;
		user-select: none;
		&:hover {
			color: @white;
		}
		i {
			flex: none;
			height: 2px;
			background-color: currentColor;
			border-radius: 2px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				inset: 0 auto 0 0;
				background-color: @link;
				border-radius: inherit;
			}
		}
		&.swiper-pagination-bullet-active {
			color: @white;
			i {
				&:before {
					width: calc(100% * var(--autoplay-progress));
				}
			}
		}
	}
}

.volna-about {
	.volna-section-title {
		&:not(:first-child) {
			@media @md_ {
				margin-top: -16px;
			}
		}
	}
}

.volna-about-advantages {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	@media @md {
		grid-template-columns: 1fr 1fr;
		gap: 16px;
	}
	@media @sm {
		grid-template-columns: 1fr;
	}
}

.volna-about-advantage {
	display: flex;
	flex-direction: column;
	gap: 18px;
	padding: 18px;
	border-radius: 24px;
	background-color: @white;
	box-shadow: 0px 4px 16px 0px #0000001a;
	font-size: 16px;
	line-height: 1.2;
	color: @title;
	font-weight: 500;
	min-width: 0;
}

.volna-about-advantage-head {
	display: flex;
	align-items: center;
	gap: 16px;
}

.volna-about-advantage-icon {
	flex: none;
	width: 36px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.volna-about-advantage-title {
	font-weight: 700;
}

.volna-about-cards {
	display: grid;
	gap: 40px;
	@media @md {
		gap: 16px;
	}
	@media @sm_ {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.volna-about-card {
	border-radius: 32px;
	overflow: hidden;
	will-change: transform;
	position: relative;
	background-color: @title;
	color: @white;
	min-height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	@media @md {
		padding: 16px;
		border-radius: 24px;
	}
	&:hover {
		.volna-about-card-content {
			grid-template-rows: 1fr;
		}
		.volna-about-card-img {
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	&:has(.volna-about-card-img) {
		background: none;
	}
}

.volna-about-card-img {
	position: absolute;
	inset: 0;
	&:before,
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		transition: opacity 0.4s;
		z-index: 1;
	}
	&:before {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	}
	&:after {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 36.18%, rgba(0, 0, 0, 0.8) 100%);
		opacity: 0;
	}
}

.volna-about-card-body {
	position: relative;
	z-index: 1;
}

.volna-about-card-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.4s;
}

.volna-about-card-content-body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	& > * {
		&:first-child {
			margin-top: 12px;
		}
	}
}

.volna-presentation-main {
	--padding: 40px;
	display: flex;
	justify-content: space-between;
	min-height: 318px;
	padding: var(--padding);
	border-radius: 32px;
	background-color: @link;
	color: @white;
	gap: 24px;
	@media @md {
		--padding: 24px;
		min-height: unset;
		border-radius: 24px;
		flex-direction: column;
	}
}

.volna-presentation-body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: auto;
	min-width: 0;
	max-width: 588px;
	@media @md {
		gap: 24px;
		max-width: 100%;
	}
	.volna-section-title {
		color: inherit;
		text-align: left;
	}
}

.volna-presentation-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.volna-presentation-form-inputs {
	display: grid;
	gap: 16px;
	@media @sm_ {
		grid-template-columns: 1fr 1fr max-content;
	}
}

.volna-presentation-img {
	flex: none;
	display: flex;
	width: 536px;
	align-self: flex-end;
	margin: 0 calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0;
	height: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	@media @md {
		height: auto;
		max-width: 100%;
	}
}

.volna-plab-iframe {
	display: flex;
	border-radius: 32px;
	overflow: hidden;
	will-change: transform;
	background-color: @link;
	@media @md {
		border-radius: 24px;
	}
	iframe {
		width: 100%;
		border: 0;
		aspect-ratio: 1280/718;
		@media @sm {
			aspect-ratio: 1;
		}
	}
}

.volna-text-image {
	.volna-container {
		align-items: flex-start;
		justify-content: space-between;
		@media @md_ {
			flex-direction: row;
			gap: 40px;
		}
	}
}

.volna-text-image-right {
	.volna-text-image-img {
		@media @md_ {
			order: 1;
		}
	}
}

.volna-text-image-body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
	align-self: center;
	min-width: 0;
	@media @md_ {
		padding: 10px;
	}
	.volna-section-title {
		text-align: left;
	}
}

.volna-text-image-content {
	--volna-content-gap: 16px;
}

.volna-text-image-img {
	display: flex;
	max-width: 689px;
	flex: none;
	@media @md {
		margin: 0 auto;
	}
	img {
		border-radius: 32px;
		@media @md {
			border-radius: 24px;
		}
	}
}

.volna-calculator-form {
	padding: 40px;
	border-radius: 32px;
	background-color: @white;
	border: solid 1px @border;
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow: hidden;
	will-change: transform;
	@media @md {
		gap: 24px;
		border-radius: 24px;
		padding: 24px var(--volna-container-padding);
	}
	.volna-radio-label,
	.volna-checkbox-label {
		padding: 16px;
		border-radius: 16px;
		border: solid 1px @border;
	}
	.volna-checkbox-input,
	.volna-radio-input {
		top: 16px;
		left: 16px;
	}
}

.volna-calculator-form-slider {
	overflow: visible;
}

.volna-calculator-form-slide {
	display: flex;
	flex-direction: column;
	gap: 40px;
	@media @md {
		gap: 24px;
	}
}

.volna-calculator-form-slide-head {
	display: flex;
	flex-direction: column;
	gap: 14px;
	@media @md {
		gap: 8px;
	}
}

.volna-calculator-form-slide-inputs {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.volna-calculator-form-slide-options {
	display: grid;
	gap: 12px;
	@media @sm_ {
		gap: 20px;
		grid-template-columns: 1fr 1fr;
	}
}

.volna-calculator-form-nav {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
	@media @md {
		gap: 8px;
	}
}

.volna-calculator-form-pagination {
	font-size: 14px;
}

.volna-calculator-form-btns {
	display: flex;
	align-items: center;
	gap: 16px;
	flex: none;
	@media @md {
		gap: 8px;
	}
}

.volna-calculator-form-btn-prev {
	width: 38px;
	aspect-ratio: 1;
	flex: none;
	border: solid 1px @link;
	display: grid;
	place-items: center;
	border-radius: 50%;
	color: @link;
	transition:
		color 0.4s,
		background-color 0.4s,
		opacity 0.4s,
		visibility 0.4s;
	&:not(.volna-active) {
		opacity: 0;
		visibility: hidden;
	}
	&:hover {
		color: @white;
		background-color: @link;
	}
}

.volna-advantages-cards {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	@media @md {
		gap: 16px;
		grid-template-columns: 1fr 1fr;
	}
	@media @sm {
		grid-template-columns: 1fr;
	}
}

.volna-advantages-card {
	border-radius: 32px;
	overflow: hidden;
	will-change: transform;
	position: relative;
	background-color: @title;
	color: @white;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	@media @md {
		padding: 16px;
		border-radius: 24px;
	}
	&:has(.volna-advantages-card-img) {
		background: none;
	}
}

.volna-advantages-card-img {
	position: absolute;
	inset: 0;
	&:before {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 36.18%, rgba(0, 0, 0, 0.8) 100%);
	}
}

.volna-advantages-card-body {
	position: relative;
	z-index: 1;
	gap: 12px;
	display: flex;
	flex-direction: column;
}

.volna-advantages-card-desc {
	--volna-content-gap: 10px;
	font-size: 14px;
}

.volna-neighbours {
	overflow: hidden;
}

.volna-neighbours-slider {
	overflow: visible;
}

.volna-neighbours-slide {
	width: 360px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	@media @sm {
		width: 320px;
	}
}

.volna-neighbours-slide-img {
	border-radius: 32px;
	aspect-ratio: 360/335;
	@media @md {
		border-radius: 24px;
	}
}

.volna-neighbours-slide-head {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.volna-neighbours-slide-position {
	color: @link;
	font-weight: 700;
}

.volna-neighbours-card-body {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.volna-neighbours-card-checklist {
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media @xs {
		font-size: 14px;
	}
	li {
		display: flex;
		align-items: flex-start;
		gap: 8px;
		svg {
			--size: 16px;
			color: @link;
		}
	}
}

.volna-tour-main {
	--padding: 40px;
	display: flex;
	justify-content: space-between;
	min-height: 318px;
	padding: var(--padding);
	border-radius: 32px;
	background-color: @link;
	color: @white;
	gap: 24px;
	@media @md {
		--padding: 24px;
		min-height: unset;
		border-radius: 24px;
		flex-direction: column;
	}
}

.volna-tour-body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: auto;
	min-width: 0;
	max-width: 784px;
	@media @md {
		gap: 24px;
		max-width: 100%;
	}
	.volna-section-title {
		color: inherit;
		text-align: left;
	}
}

.volna-tour-head {
	display: flex;
	align-items: flex-end;
	gap: 12px;
	@media @xs {
		flex-direction: column;
		align-items: flex-start;
	}
	.volna-messengers {
		gap: 12px;
		a {
			width: 30px;
		}
	}
}

.volna-tour-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.volna-tour-form-inputs {
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr max-content;
	@media @md {
		grid-template-columns: 1fr 1fr;
	}
	@media @sm {
		grid-template-columns: 1fr;
	}
}

.volna-tour-img {
	flex: none;
	display: flex;
	width: 346px;
	align-self: flex-end;
	margin: 0 calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0;
	height: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
	@media @md {
		height: auto;
		max-width: calc(100% + var(--padding));
		margin-left: calc(-1 * var(--padding));
	}
}

.volna-tour-img-desc {
	position: absolute;
	right: 20px;
	bottom: 240px;
	font-size: 12px;
	max-width: 98px;
}

.volna-how-buy-banks {
	--gap: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px var(--gap);
	flex-wrap: wrap;
	@media @md {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px 24px;
	}
}

.volna-how-buy-bank {
	height: 36px;
	min-width: 0;
	&:not(:last-child) {
		@media @md_ {
			padding-right: var(--gap);
			border-right: solid 1px @border;
		}
	}
}

.volna-how-buy-variants {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	@media @md {
		flex-direction: column;
		align-items: unset;
	}
}

.volna-how-buy-variants-nav {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: none;
	width: 324px;
	@media @md {
		width: auto;
		margin: 0 calc(-1 * var(--volna-container-padding));
		padding: 0 var(--volna-container-padding);
		overflow-x: auto;
		.volna-scrollbar-hide;
		white-space: nowrap;
		flex-direction: row;
	}
}

.volna-how-buy-variants-nav-btn {
	display: flex;
	padding: 16px;
	border: solid 1px @border;
	border-radius: 18px;
	font-size: 18px;
	font-weight: 600;
	color: @title;
	background-color: @white;
	transition:
		border-color 0.4s,
		background-color 0.4s,
		color 0.4s;
	@media @md_ {
		width: 100%;
	}
	&:hover {
		color: @link;
		border-color: @link;
	}
	&.volna-active {
		background-color: @link;
		color: @white;
		border-color: @link;
	}
}

.volna-how-buy-variants-tabs {
	--padding: 40px;
	padding: var(--padding);
	@media @md {
		padding: 24px var(--volna-container-padding);
		border-radius: 24px;
	}
	flex: auto;
	min-width: 0;
	border-radius: 32px;
	border: solid 1px @border;
	overflow: hidden;
	will-change: transform;
	background-color: @white;
}

.volna-how-buy-variants-tab {
	display: flex;
	gap: 32px;
}

.volna-how-buy-variants-tab-body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: auto;
	min-width: 0;
}

.volna-how-buy-variants-tab-info {
	--gap: 32px;
	gap: var(--gap);
	display: flex;
	padding: 20px 0;
	@media @sm {
		flex-direction: column;
	}
}

.volna-how-buy-variants-tab-info-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	&:not(:last-child) {
		@media @sm_ {
			padding-right: var(--gap);
			border-right: solid 1px @border;
		}
	}
}

.volna-how-buy-variants-tab-btns {
	display: flex;
	gap: 20px;
	@media @sm {
		flex-wrap: wrap;
	}
	@media @xs {
		.volna-btn {
			width: 100%;
		}
	}
}

.volna-how-buy-variants-tab-img {
	flex: none;
	width: 180px;
	margin: calc(-1 * var(--padding));
	margin-left: 0;
}

.volna-gallery {
	overflow: hidden;
}

.volna-gallery-slider {
	overflow: visible;
}

.volna-gallery-slide {
	width: 546px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	@media @md {
		width: 320px;
	}
}

.volna-gallery-link {
	border-radius: 32px;
	aspect-ratio: 546/340;
	background-color: @title;
	@media @md {
		border-radius: 24px;
	}
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		background-color: fade(@black, 40%);
		opacity: 0;
		transition: opacity 0.4s;
	}
	&:has(img) {
		background: none;
	}
	& > svg {
		--size: 68px;
		color: @white;
		position: absolute;
		left: calc(50% - 0.5 * var(--size));
		top: calc(50% - 0.5 * var(--size));
		transition:
			opacity 0.4s,
			transform 0.4s;
		opacity: 0;
		transform: scale(0.8);
		z-index: 2;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
		& > svg {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.volna-steps-list {
	display: grid;
	gap: 20px;
	counter-reset: counter;
	@media @sm_ {
		grid-template-columns: 1fr 1fr;
	}
}

.volna-steps-item {
	border-radius: 32px;
	background-color: @white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	@media @md {
		border-radius: 24px;
		padding: 20px var(--volna-container-padding);
	}
}

.volna-steps-item-title {
	display: flex;
	align-items: center;
	gap: 20px;
	&:before {
		content: counter(counter);
		counter-increment: counter;
		width: 32px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: @link;
		color: @white;
		font-size: 18px;
		font-weight: 600;
		flex: none;
		display: grid;
		place-items: center;
	}
}

.volna-steps-form {
	display: flex;
	flex-direction: column;
	max-width: 576px;
	margin: 0 auto;
	gap: 20px;
}

.volna-steps-form-inputs {
	display: grid;
	gap: 16px;
	@media @sm_ {
		grid-template-columns: 1fr 1fr max-content;
	}
}

.volna-reviews-body {
	padding: 40px;
	border-radius: 32px;
	position: relative;
	overflow: hidden;
	will-change: transform;
}

.volna-reviews-img {
	position: absolute;
	inset: 0;
}

.volna-reviews-content {
	position: relative;
	z-index: 2;
	width: 560px;
	margin: 0 auto;
	max-width: 100%;
}

.volna-telegram-main {
	--padding: 40px;
	display: flex;
	justify-content: space-between;
	min-height: 290px;
	padding: var(--padding);
	border-radius: 32px;
	background-color: @link;
	color: @white;
	gap: 24px;
	@media @md {
		--padding: 24px;
		min-height: unset;
		border-radius: 24px;
		flex-direction: column;
	}
}

.volna-telegram-body {
	display: flex;
	flex-direction: column;
	gap: 40px;
	flex: auto;
	min-width: 0;
	max-width: 666px;
	align-items: flex-start;
	@media @md {
		gap: 24px;
		max-width: 100%;
	}
	.volna-section-title {
		color: inherit;
		text-align: left;
	}
	.volna-btn {
		@media @xs {
			width: 100%;
		}
	}
}

.volna-telegram-img {
	flex: none;
	display: flex;
	width: 410px;
	align-self: flex-end;
	margin-bottom: calc(-1 * var(--padding));
	height: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	@media @md {
		height: auto;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.volna-content-quote {
	--padding: calc(1.3 * var(--volna-content-gap));
}

.volna-content-quote-body {
	padding-left: 24px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	&:before {
		content: '';
		position: absolute;
		inset: 0 auto 0 0;
		width: 4px;
		border-radius: 4px;
		background-color: @link;
	}
}

.volna-content-quote-content {
	&:before {
		content: '“';
	}
	&:after {
		content: '”';
	}
}

.volna-content-quote-user {
	display: flex;
	align-items: flex-start;
	gap: 12px;
}

.volna-content-quote-user-avatar {
	flex: none;
	width: 48px;
	aspect-ratio: 1;
	border-radius: 50%;
}

.volna-content-quote-user-body {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.volna-content-quote-user-name {
	font-size: 18px;
}

.volna-content-gallery-slider {
	width: 100%;
	margin: 0;
}

.volna-contacts {
	.volna-container {
		flex-direction: row;
		gap: 40px;
		@media @md {
			flex-direction: column;
			gap: 32px;
		}
	}
}

.volna-contacts-body {
	flex: none;
	width: 408px;
	padding: 40px;
	background-color: @bg;
	display: flex;
	flex-direction: column;
	gap: 40px;
	border-radius: 32px;
	@media @md {
		border-radius: 24px;
		padding: 24px var(--volna-container-padding);
		gap: 24px;
		width: auto;
	}
	.volna-section-title {
		text-align: left;
	}
}

.volna-contacts-offices {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media @md {
		gap: 16px;
	}
}

.volna-contacts-office {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.volna-contacts-office-title {
	font-size: 18px;
	font-weight: 600;
}

.volna-contacts-office-address {
	font-size: 14px;
}

.volna-contacts-block {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	@media @md {
		gap: 16px;
	}
	svg {
		color: @link;
	}
}

.volna-contacts-block-body {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.volna-contacts-block-title {
	font-size: 14px;
	span {
		color: @link;
	}
}

.volna-contacts-block-link {
	color: inherit;
	transition: color 0.4s;
	font-size: 18px;
	font-weight: 600;
	&:hover {
		color: @link;
	}
}

.volna-contacts-links {
	display: flex;
	flex-direction: column;
	gap: 26px;
	@media @md {
		gap: 24px;
	}
}

.volna-contacts-messengers {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.volna-messengers {
		a {
			width: 30px;
		}
	}
}

.volna-contacts-details {
	font-size: 16px;
}

.volna-contacts-info {
	gap: 24px;
	display: flex;
	flex-direction: column;
	@media @md_ {
		position: relative;
		flex: auto;
		min-width: 0;
		border-radius: 32px;
		border: solid 1px @border;
		overflow: hidden;
		will-change: transform;
		padding: 20px 40px 40px;
		gap: 10px;
	}
}

.volna-contacts-info-nav {
	border: solid 1px @border;
	margin: 0 auto;
	border-radius: 32px;
	padding: 10px;
	background-color: @white;
	position: relative;
	z-index: 2;
	display: flex;
	gap: 40px;
	@media @md {
		width: auto;
		margin: 0 calc(-1 * var(--volna-container-padding));
		padding: 0 var(--volna-container-padding);
		overflow-x: auto;
		.volna-scrollbar-hide;
		white-space: nowrap;
		flex-direction: row;
		border: 0;
		background: none;
		border-radius: 0;
		gap: 8px;
	}
}

.volna-contacts-info-nav-btn {
	border: 0;
	background: none;
	display: flex;
	padding: 10px;
	border-radius: 32px;
	gap: 6px;
	transition:
		color 0.4s,
		background-color 0.4s,
		border-color 0.4s;
	@media @md {
		padding: 16px;
		font-size: 18px;
		border: solid 1px @border;
		font-weight: 600;
		border-radius: 18px;
	}
	svg {
		color: @link;
		transition: color 0.4s;
		@media @md_ {
			--size: 20px;
		}
	}
	&:hover {
		color: @link;
		border-color: @link;
	}
	&.volna-active {
		background-color: @link;
		border-color: @link;
		color: @white;
		svg {
			color: @white;
		}
	}
}
.volna-contacts-info-map {
	background-color: @bg;
	overflow: hidden;
	will-change: transform;
	display: flex;
	@media @md_ {
		position: absolute;
		inset: 0;
	}
	@media @md {
		height: 360px;
		border-radius: 24px;
	}
	@media @xs {
		height: 280px;
	}
	iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.volna-contacts-info-routing {
	display: grid;
	gap: 10px;
	@media @sm_ {
		grid-template-columns: 1fr 1fr;
	}
}

.volna-contacts-info-routing-item {
	min-width: 0;
	background-color: @bg;
	padding: 20px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media @md {
		padding: 24px var(--volna-container-padding);
		border-radius: 24px;
	}
}

.volna-contacts-info-routing-item-desc {
	--volna-content-gap: 16px;
}
