.volna-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: var(--volna-container-padding);
	padding-right: var(--volna-container-padding);
	width: calc(var(--volna-container-width) + 2 * var(--volna-container-padding));
}

.volna-icon {
	--size: 24px;
	width: var(--size);
	height: var(--size);
	flex: none;
	use {
		fill: currentColor;
	}
}

.volna-hidden-desktop {
	@media @lg {
		display: none !important;
	}
}

.volna-hidden-tablet {
	@media @md {
		display: none !important;
	}
}

.volna-hidden-mobile {
	@media @sm {
		display: none !important;
	}
}

.volna-visible-mobile {
	@media @sm_ {
		display: none !important;
	}
}

.volna-visible-tablet {
	@media @md_ {
		display: none !important;
	}
}
.volna-visible-desktop {
	@media @lg_ {
		display: none !important;
	}
}

.volna-h1 {
	font-size: 44px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.02em;
	@media @md {
		font-size: 36px;
	}
}

.volna-h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.02em;
	@media @md {
		font-size: 28px;
	}
}

.volna-h3 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: -0.02em;
	@media @md {
		font-size: 24px;
	}
}

.volna-h4 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	@media @md {
		font-size: 22px;
	}
}

.volna-h5 {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
	@media @md {
		font-size: 18px;
	}
}

.volna-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	min-height: 54px;
	border: 0 !important;
	cursor: pointer;
	padding: 8px 20px;
	max-width: 100%;
	border-radius: 54px;
	color: @white;
	overflow: hidden;
	will-change: transform;
	background-color: @link;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	flex: none;
	transition:
		background-color 0.4s,
		opacity 0.4s,
		visibility 0.4s,
		color 0.4s,
		border-color 0.4s,
		box-shadow 0.4s;
	box-shadow: 0 0 0 4px fade(@outline, 0%);
	&:hover {
		background-color: @linkH;
	}
	&[disabled],
	&.volna-disabled {
		opacity: 0.5;
	}
	svg {
		--size: 18px;
	}
}

.volna-btn-white {
	background-color: @white;
	color: @link;
	&:hover {
		color: @white;
		background-color: @title;
	}
}

.volna-btn-white-border {
	border: solid 1px @white!important;
	background-color: fade(@white, 4%);
	backdrop-filter: blur(4px);
	&:hover {
		color: @link;
		background-color: @white;
	}
}

.volna-btn-small {
	min-height: 38px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 600;
}

.volna-cover-img {
	position: relative;
	will-change: transform;
	overflow: hidden;
	img,
	video,
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	img,
	video {
		object-fit: cover;
	}
	iframe {
		border: 0;
	}
}

.volna-contain-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	picture,
	img {
		display: block;
		max-height: 100%;
	}
	img {
		object-fit: contain;
	}
}

.volna-tab-block {
	transition:
		opacity 0.4s,
		visibility 0.4s;
	&:not(.volna-active) {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		height: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		min-height: 0;
	}
}

.volna-input {
	border-radius: 32px;
	border: solid 1px @border;
	background-color: @white;
	display: block;
	width: 100%;
	height: 54px;
	padding: 0 20px;
	appearance: none;
	box-shadow: none;
	caret-color: @title;
	transition: border-color 0.4s;
	color: @title;
	line-height: 1.2;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	&:focus {
		border-color: @link;
		outline: none;
	}
	&:-webkit-autofill {
		-webkit-text-fill-color: @title;
		background-color: transparent;
		transition: background-color 5000000s 0s;
	}
	&:-webkit-autofill::first-line {
		font-family: @ff;
	}
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		display: none;
	}
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		appearance: none;
		display: none;
	}
}

.volna-input-white {
	border-color: fade(@white, 0%);
	background-color: fade(@white, 30%);
	color: @white;
	caret-color: @white;
	.volna-placeholder({
		color:@white;
	});
	&:focus {
		border-color: @white;
	}
}

.volna-textarea {
	resize: none;
	height: 120px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.volna-link {
	color: @link;
	font-weight: 600;
	font-size: 18px;
	transition: color 0.4s;
	&:hover {
		color: @linkH;
	}
}

.volna-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 666666;
	&:not(.volna-active) {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
	&.volna-open,
	&.volna-close {
		transition:
			opacity 0.4s,
			visibility 0.4s;
		.modal-body {
			transition: transform 0.4s;
		}
	}
	&.volna-active {
		.volna-modal-body {
			transform: scale(1);
		}
	}
}

.volna-modal-wrapp {
	width: 100%;
	height: 100%;
	display: flex;
	background: @filter;
	padding: var(--volna-container-padding);
	overflow: hidden;
	overflow-y: scroll;
	outline: none;
}

.volna-modal-body {
	flex: none;
	min-height: 0;
	width: 940px;
	max-width: 100%;
	margin: 0;
	padding: 40px 24px 24px;
	transition: transform 0.4s;
	transform: scale(0.9);
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 32px;
	background-color: @white;
	will-change: transform;
	@media @md {
		border-radius: 24px;
		padding: 40px var(--volna-container-padding) 24px;
	}
}

.volna-modal-close {
	display: flex;
	color: @placeholder;
	flex: none;
	transition: color 0.4s;
	position: absolute;
	right: 16px;
	top: 12px;
	&:hover {
		color: @link;
	}
}

.volna-checkbox-label,
.volna-radio-label {
	display: inline-flex;
	cursor: pointer;
	user-select: none;
	position: relative;
	align-items: center;
	gap: 12px;
}

.volna-checkbox-label {
	&:has(:checked) {
		.volna-checkbox-label-icon {
			&:before {
				border-color: @link;
				background-color: @link;
			}
			svg {
				opacity: 1;
			}
		}
	}
}

.volna-radio-label {
	&:has(:checked) {
		.volna-radio-label-icon {
			&:before {
				border-color: @link;
			}
			&:after {
				opacity: 1;
			}
		}
	}
}

.volna-checkbox-label-icon,
.volna-radio-label-icon {
	flex: none;
	width: 18px;
	height: 18px;
	display: grid;
	place-items: center;
	color: @white;
	position: relative;
}

.volna-checkbox-label-icon {
	border-radius: 4px;
	&:before {
		content: '';
		position: absolute;
		border-radius: inherit;
		border: solid 1px @border;
		transition:
			background-color 0.4s,
			border-color 0.4s;
		inset: 0;
	}
	svg {
		--size: 16px;
		opacity: 0;
		transition: opacity 0.4s;
		position: relative;
		z-index: 1;
	}
}

.volna-radio-label-icon {
	border-radius: 50%;
	&:before,
	&:after {
		content: '';
		position: absolute;
		border-radius: inherit;
		width: var(--width);
		aspect-ratio: 1;
		left: calc(50% - 0.5 * var(--width));
		top: calc(50% - 0.5 * var(--width));
	}
	&:before {
		--width: 18px;
		border: solid 1px @border;
		transition:
			border-color 0.4s,
			box-shadow 0.4s;
		box-shadow: 0 0 0 4px fade(@outline, 0%);
	}
	&:after {
		--width: 12px;
		background-color: @link;
		opacity: 0;
		transition: opacity 0.4s;
	}
}

.volna-checkbox-label-title,
.volna-radio-label-title {
	min-width: 0;
	align-self: center;
	font-size: 18px;
	color: @title;
	font-weight: 600;
	line-height: 1.2;
}

.volna-checkbox-input,
.volna-radio-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	opacity: 0;
	cursor: pointer;
}

.volna-checkbox-input {
	border-radius: 4px;
}

.volna-radio-input {
	border-radius: 50%;
}

.volna-slider-nav {
	display: flex;
	align-items: center;
	gap: 14px;
	justify-content: center;
	&:has(.volna-slider-arrow-prev.swiper-button-disabled):has(.volna-slider-arrow-next.swiper-button-disabled) {
		display: none;
	}
}

.volna-slider-arrow {
	padding: 0;
	width: 38px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: solid 1px @link;
	color: @link;
	display: grid;
	place-items: center;
	flex: none;
	transition:
		color 0.4s,
		background-color 0.4s;
	&:hover {
		background-color: @link;
		color: @white;
	}
}

.volna-slider-pagination {
	width: auto !important;
	transform: none !important;
	display: flex;
	align-items: center;
	gap: 8px;
	span {
		margin: 0 !important;
		width: 8px;
		height: 8px;
		opacity: 1;
		cursor: pointer;
		background: @border;
		transition: background-color 0.4s !important;
		&:hover {
			border-color: @link;
		}
		&.swiper-pagination-bullet-active {
			background-color: @link;
		}
	}
}

.volna-accordion {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.volna-accordion-item {
	padding-bottom: 20px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 136px;
		border-top: solid 1px @link;
	}
	&.volna-active {
		.volna-accordion-item-toggle {
			svg {
				transform: rotate(-180deg);
			}
		}
		.volna-accordion-item-main {
			grid-template-rows: 1fr;
		}
	}
}

.volna-accordion-item-toggle {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 12px;
	transition: color 0.4s;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	color: @title;
	&:hover {
		color: @link;
	}
	svg {
		--size: 32px;
		transition: transform 0.4s;
		color: @link;
	}
}

.volna-accordion-item-main {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.4s;
}

.volna-accordion-item-body {
	overflow: hidden;
}

.volna-accordion-item-content {
	padding-top: 16px;
	color: @title;
}

.volna-section-title {
	text-align: center;
	span {
		color: @link;
	}
	@media @xs {
		br {
			display: none;
		}
	}
}

.volna-select {
	position: relative;
	&.volna-active {
		z-index: 66;
		.volna-select-options {
			transition:
				opacity 0.4s,
				visibility 0.4s;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		.volna-select-toggle {
			border-color: @link;
			&.volna-input-white {
				border-color: @white;
			}
		}
		.volna-select-toggle-arrow {
			transform: rotate(-180deg);
			color: @link;
		}
	}
	&.volna-value {
		.volna-select-reset {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		.volna-select-toggle {
			color: @title;
			&.volna-input-white {
				color: @white;
			}
		}
	}
}

.volna-select-body {
	position: relative;
}

.volna-select-toggle-wrapp {
	position: relative;
}

.volna-select-toggle-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	opacity: 0;
	pointer-events: none;
}

.volna-select-toggle {
	display: flex;
	gap: 8px;
	align-items: center;
	width: 100%;
	color: @placeholder;
	transition:
		color 0.4s,
		border-color 0.4s;
	&.volna-input-white {
		border-color: fade(@white, 0%);
		color: @white;
		.volna-select-toggle-arrow {
			color: @white;
		}
	}
}

.volna-select-toggle-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: auto;
}

.volna-select-toggle-arrow {
	transition:
		transform 0.4s,
		color 0.4s;
	color: @placeholder;
	--size: 16px;
}

.volna-select-options {
	position: absolute;
	inset: calc(100% + 4px) 0 auto;
	z-index: 66;
	border-radius: 32px;
	background-color: @white;
	overflow: hidden;
	will-change: transform;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	padding: 10px;
	max-height: 260px;
	overflow: hidden auto;
	border: solid 1px @border;
	color: @title;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.volna-select-option {
	display: flex;
	padding: 10px;
	color: inherit;
	justify-content: space-between;
	gap: 8px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	border-radius: 10px;
	transition:
		background-color 0.4s,
		opacity 0.4s,
		box-shadow 0.4s;
	position: relative;
	&:hover {
		background-color: @bg;
	}
	&.volna-disabled {
		opacity: 0.4;
		pointer-events: none;
		user-select: none;
	}
	&:has(:checked) {
		background-color: @link;
		color: @white;
	}
}

.volna-select-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	border-radius: inherit;
}

.volna-form-agreement {
	display: flex;
	.volna-checkbox-label {
		gap: 10px;
	}
	.volna-checkbox-label-title {
		font-size: 12px;
		font-weight: 500;
	}
	a {
		color: inherit;
		text-decoration: underline !important;
		text-underline-offset: 2px;
		text-decoration-thickness: 1px;
		transition: text-decoration-color 0.4s;
		&:hover {
			text-decoration-color: transparent !important;
		}
	}
	&.volna-white {
		.volna-checkbox-label-title {
			color: @white;
		}
		.volna-checkbox-label-icon {
			svg {
				color: @link;
			}
			&:before {
				border-color: @white;
			}
		}
		.volna-checkbox-label {
			&:has(:checked) {
				.volna-checkbox-label-icon {
					&:before {
						border-color: @white;
						background-color: @white;
					}
				}
			}
		}
	}
}

.volna-product-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 32px 32px 0 0;
	color: @title;
	transition: color 0.4s;
	&:hover {
		color: @link;
		.volna-product-item-img {
			&:after {
				opacity: 1;
			}
			& > svg {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
	&.volna-product-loading {
		.volna-product-item-img {
			& > svg {
				opacity: 0;
				transform: scale(0.8);
			}
			.volna-loading {
				opacity: 1;
			}
		}
	}
}

.volna-project-item {
	.volna-product-item-area {
		font-size: 18px;
		font-weight: 600;
	}
}

.volna-product-item-img {
	border-radius: 32px;
	aspect-ratio: 412/280;
	background-color: @title;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		background-color: fade(@black, 40%);
		opacity: 0;
		transition: opacity 0.4s;
	}
	&:has(img) {
		background: none;
	}
	& > svg {
		--size: 68px;
		color: @white;
		position: absolute;
		left: calc(50% - 0.5 * var(--size));
		top: calc(50% - 0.5 * var(--size));
		transition:
			opacity 0.4s,
			transform 0.4s;
		opacity: 0;
		transform: scale(0.8);
		z-index: 2;
	}
	.volna-loading {
		--size: 48px;
		--color: @white;
		position: absolute;
		left: calc(50% - 0.5 * var(--size));
		top: calc(50% - 0.5 * var(--size));
		opacity: 0;
		transition: opacity 0.4s;
		z-index: 1;
	}
}

.volna-product-item-category {
	position: absolute;
	top: 32px;
	right: 0;
	max-width: calc(100% - 12px);
	z-index: 1;
	border-radius: 12px 0 0 12px;
	padding: 10px;
	background-color: fade(@white, 80%);
	color: @link;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	backdrop-filter: blur(4px);
}

.volna-product-item-rooms {
	position: absolute;
	z-index: 1;
	inset: 28px 8px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 8px;
}

.volna-product-item-room {
	display: flex;
	gap: 6px;
	padding: 6px;
	border-radius: 10px;
	background-color: fade(@white, 80%);
	color: @link;
	display: flex;
	align-items: center;
	backdrop-filter: blur(4px);
	svg {
		--size: 16px;
	}
}

.volna-product-item-head {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: space-between;
	white-space: nowrap;
}

.volna-product-item-area {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 700;
}

.volna-product-item-prices {
	display: flex;
	align-items: center;
	gap: 10px;
}

.volna-product-item-price-old {
	font-weight: 500;
	text-decoration: line-through;
}

.volna-product-item-price {
	color: @link;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2;
}

.volna-product-item-excerpt {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	.volna-ellipsis(2);
}

.volna-products-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px 20px;
	@media @md {
		gap: 32px 12px;
		grid-template-columns: 1fr 1fr;
	}
	@media @sm {
		grid-template-columns: 1fr;
	}
}

.volna-read-more-btn {
	display: flex;
	justify-content: center;
}

.volna-loading {
	--size: 24px;
	--color: @link;
	width: var(--size);
	padding: calc(0.1666 * var(--size));
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--color);
	--_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
	-webkit-mask: var(--_m);
	mask: var(--_m);
	-webkit-mask-composite: source-out;
	mask-composite: subtract;
	animation: volna-modal-loading 1s infinite linear;
}

@keyframes volna-modal-loading {
	to {
		transform: rotate(1turn);
	}
}

.volna-section-head {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.volna-product {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.volna-product-head {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
	@media @sm {
		flex-direction: column;
		align-items: flex-start;
	}
}

.volna-product-prices {
	gap: 6px;
	display: flex;
	flex-direction: column;
}

.volna-product-price-area {
	font-size: 12px;
}

.volna-product-gallery {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 0;
	margin: 0 -24px;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.volna-product-gallery-slider {
	width: 100%;
	margin: 0;
	overflow: visible;
}

.volna-product-gallery-slide {
	aspect-ratio: 892/462;
	border-radius: 32px;
	@media @md {
		border-radius: 24px;
	}
}

.volna-product-gallery-nav {
	max-width: 100%;
	margin: 0 auto;
	overflow: visible;
}

.volna-product-gallery-nav-slide {
	border-radius: 12px;
	opacity: 0.7;
	aspect-ratio: 76/64;
	transition: opacity 0.4s;
	position: relative;
	width: 76px;
	cursor: pointer;
	user-select: none;
	&:hover {
		opacity: 1;
	}
	&.swiper-slide-thumb-active {
		opacity: 1;
		&:after {
			opacity: 1;
		}
	}
	&:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		border: solid 2px @link;
		opacity: 0;
		transition: opacity 0.4s;
		z-index: 1;
	}
}

.volna-product-body {
	gap: 28px;
	display: flex;
	flex-direction: column;
}

.volna-product-section {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.volna-product-section-title {
	font-size: 22px;
	font-weight: 600;
}

.volna-product-characteristics {
	margin-bottom: -12px;
	@media @sm_ {
		columns: 2;
		column-gap: 24px;
	}
	li {
		break-inside: avoid;
		padding-bottom: 12px;
		position: relative;
		padding-left: 12px;
		display: grid;
		gap: 6px;
		grid-template-columns: 1fr 1fr;
		&:before {
			content: '';
			position: absolute;
			width: 6px;
			left: 0;
			top: calc(0.5lh - 3px);
			border-radius: 50%;
			background-color: @link;
			aspect-ratio: 1;
		}
	}
}

.volna-product-content {
	& > * {
		max-width: 100% !important;
	}
}

.volna-messengers {
	display: flex;
	align-items: center;
	gap: 10px;
	a {
		display: flex;
		width: 24px;
		transition: opacity 0.4s;
		@media @md {
			width: 32px;
		}
		&:hover {
			opacity: 0.7;
		}
		img {
			width: 100%;
		}
	}
}
